html {
    background-color: grey;
}

#title {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

p {
    text-align: center;
}

table {
    border-spacing: 0; /* Removes the whitespace between th's */
    width: 100%;
}

th {
    overflow: wrap;
    width: 10%;
}

td {
    text-align: center;
}